.column {
  float: left;
  width: 31%;
  padding: 0 10px;
  margin-bottom: 10px;
  margin-right: 3px;
}
.row {
  align-self: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
}
.button-style {
  border: 2px solid black;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 14px;
  margin: 3px 8px;
  cursor: pointer;
}
.button-style:hover {
  background: black;
  border: none;
  color: white;
}
img {
  width: 100%;
  margin: auto;
  display: block;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-right: 1px;
  }
  img {
    width: 100%;
    display: block;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
